<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education - Playlist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<%- include('partials/header') %>
<%- include('partials/sidebar') %>

<div class="page-content">
    <section class="playlist">
        <h1 class="heading">playlist details</h1>
        <div class="row">
            <div class="col">
                <form action="" method="post" class="save-list">
                    <button type="submit" name="save_list"><i class="far fa-bookmark"></i><span>save
                            playlist</span></button>
                </form>
                <div class="thumb">
                    <span>6 videos</span>
                    <img src="/images/pic-6.jpg" alt="playlist thumbnail">
                </div>
            </div>

            <div class="col">
                <div class="tutor">
                    <img src="/images/pic-7.jpg" alt="tutor">
                    <div>
                        <h3>john doe</h3>
                        <span>developer</span>
                    </div>
                </div>

                <div class="details">
                    <h3>complete HTML tutorial</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt saepe quisquam earum velit
                        totam et assumenda sint consequatur similique.</p>
                    <div class="date"><i class="fas fa-calendar"></i><span>20-4-2025</span></div>
                </div>
            </div>
        </div>
    </section>

    <section class="videos-container">
        <h1 class="heading">playlist videos</h1>
        <div class="box-container">
            <% for(let i=1; i<=4; i++) { %>
                <a href="/watch-video" class="box">
                    <i class="fas fa-play"></i>
                    <img src="/images/pic-<%= i === 3 ? 8 : i === 4 ? 9 : i + 3 %>.jpg" alt="video thumbnail">
                    <h3>complete HTML tutorial(part<%= i < 10 ? '0' + i : i %>)</h3>
                </a>
                <% } %>
        </div>
    </section>
</div>

<%- include('partials/footer') %>
<script src="/script.js"></script>
</body>
</html>